extends layout

block content
  header()
    div(class="header-wrapper")
      div(class="col-md-12 text-center")
        h1 UNITED NATIONS

  div(class="content-wrapper")
    div(class="row", id="figure-container", class="module")
      div(class="module-header col-md-12")
        h1 Words in Document
      div(id="figure")
      div(class="col-md-6 col-md-offset-4 search-container")
        label(for="search")
          != 'Search a word:&nbsp;'
        input(type="text", id="search", placeholder="")
        span(class="current-word")


    div(class="row", id="words-per-year-container", class="module")
      div(class="module-header col-md-12")
        h1 Words over time
      div(class="col-md-6 col-md-offset-4 search-container")
        label(for="search")
          != 'Search a word:&nbsp;'
        input(type="text", id="words-per-year-search", placeholder="")
        span(class="error-message")
      div(class="col-md-10 col-md-offset-1")
        div(id="words-per-year")

    div(class="row", id="timeline-container", class="module")
      div(class="col-md-12 module-header")
        h1 Sentiment Analysis over time
      div(class="col-md-12")
        div(id="timeline")

    div(class="row", id="author-popular-words-container", class="module")
      div(class="col-md-12 module-header")
        h1 Who says what
      div(class="col-md-10 col-md-offset-1")
        div(id="author-popular-words")

block scripts
  script.
    $(document).ready(function() {
      _.templateSettings.variable = "context";

      var animated = {},
          wordsAdded = [];
      var $headerWrapper,
          $contentWrapper;

      $.fn.tipsy.defaults = {
        delayIn: 0,      // delay before showing tooltip (ms)
        delayOut: 0,     // delay before hiding tooltip (ms)
        fade: false,     // fade tooltips in/out?
        fallback: '',    // fallback text to use when no tooltip text
        gravity: 's',    // gravity
        html: true,     // is tooltip content HTML?
        live: false,     // use live event support?
        offset: 0,       // pixel offset of tooltip from element
        opacity: 1,    // opacity of tooltip
        title: 'title',  // attribute/callback containing tooltip text
        trigger: 'hover' // how tooltip is triggered - hover | focus | manual
      };

      $contentWrapper = $('.content-wrapper');

      $headerWrapper = $('.header-wrapper');
      $headerWrapper.css('width', $(window).width());
      $headerWrapper.css('height', $(window).height());
      $(window).on('resize', function(e) {

        var fn = _.throttle(function() {
            $headerWrapper.css('width', $(window).width());
            $headerWrapper.css('height', $(window).height());
          }, 100);
        fn();
      })

      $(document).on('scroll', function(e) {
        var fn = _.throttle(function() {
            var scrollTop = $(window).scrollTop()
            //$contentWrapper.css({
            //  '-webkit-transform': 'translate3d(-0px, ' + -(3 * scrollTop) + 'px, 0px)',
            //  '-webkit-transition': '.2s',
            //  '-moz-transform': 'translate3d(-0px, ' + -(3 * scrollTop) + 'px, 0px)',
            //  '-moz-transition': '.2s',
            //  'transition': '.2s'
            //})

            var freqChartOffset = Diction.skrollr.relativeToAbsolute($('#figure-container')[0], 'bottom',
            'bottom')

            var timelineOffset = Diction.skrollr.relativeToAbsolute($('#timeline-container #timeline')[0], 'bottom',
            'center')

            var wordsPerYearOffset = Diction.skrollr.relativeToAbsolute($('#words-per-year-container .words-per-year-container:first')[0],
            'bottom', 'center')


            var popularWordsOffset = Diction.skrollr.relativeToAbsolute($('#author-popular-words .author:first')[0], 'bottom',
              'center')

            animate(freqChartOffset, 'freqchartRoute');
            animate(timelineOffset, 'timelineRoute');
            animate(wordsPerYearOffset, 'wordsPerYearRoute');
            animate(popularWordsOffset, 'authorsRoute');

            //$.publish('scroll');
          }, 100);
        fn();

      });

      function animate(offset, route) {
          if (window.scrollY > offset && !animated[route]) {
            Diction.router[route]()
            animated[route] = true;
          }

      }

      $('#search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var query = $(e.currentTarget).val()
          Diction.router.freqchartRoute(query);
        }

      });

      $('#words-per-year-search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var $target = $(e.currentTarget)
          var query = $target.val().toLowerCase();

          // Already been added
          if (wordsAdded.indexOf(query) !== -1 || Diction.Constants.DEFAULT_WORDS.indexOf(query) !== -1) {
            $('.error-message').text('Word has already been added');
            $target.val('');
            return;
          }



          $wordsPerYear = $('#words-per-year');
          $wordsPerYear.prepend(Diction.Templates.wordsPerYear.render({ word: query }));
          $.get('/words_per_year', { query: query }).success(function(rows) {
            var wordsPerYear = new Diction.Figures.WordsPerYear({
              data: rows,
              svg: d3.select('.words-per-year-' + query),
              word: query
            });
            wordsPerYear.render();
            wordsAdded.push(query);
            $target.val('');
            $('.error-message').text('');
          });
        }

      });

      Diction.router = new Diction.Routers.IndexRouter({
        docs: !{data},
        authors: !{authors},
        popularWords: !{popularWords}
      });
      Backbone.history.start();

      Diction.skrollr = skrollr.init();



    });
