extends layout

block content
  header(data-0="-webkit-transform: translate3d(-0px, 0px, 0px); transition: 0s; -webkit-transition: 0s;", data-500="-webkit-transform: translate3d(0p, -1000px, 0px); transition: 0s; -webkit-transition: 0s;")
    div(class="header-wrapper")
      div(class="col-md-12 text-center")
        h1 UNITED NATIONS

  div(class="content-wrapper")
    div(class="row", id="figure-container", class="module")
      div(id="figure")
      div(class="col-md-12")
        label(for="search")
          != 'Search a word:&nbsp;'
        input(type="text", id="search", placeholder="")


    div(class="row", id="timeline-container", class="module")
      div(class="col-md-12")
        h1 Sentiment Analysis over time
      div(class="col-md-12")
        div(id="timeline")

    div(class="row", id="words-per-year-container", class="module")
      div(class="col-md-12")
        h1 Words over time
      div(class="col-md-12")
        div(class="well")
          label(for="search")
            != 'Search a word:&nbsp;'
          input(type="text", id="words-per-year-search", placeholder="")
      div(class="col-md-12")
        div(id="words-per-year")

    div(class="row", id="author-top-words-container", class="module")
      div(class="col-md-12")
        h1 Who says what

block scripts
  script.
    $(document).ready(function() {
      _.templateSettings.variable = "context";

      var animated = {};
      var $headerWrapper,
          $contentWrapper;

      $contentWrapper = $('.content-wrapper');

      $headerWrapper = $('.header-wrapper');
      $headerWrapper.css('width', $(window).width());
      $headerWrapper.css('height', $(window).height());
      $(window).on('resize', function(e) {

        var fn = _.throttle(function() {
            $headerWrapper.css('width', $(window).width());
            $headerWrapper.css('height', $(window).height());
          }, 100);
        fn();
      })

      $(document).on('scroll', function(e) {
        var fn = _.throttle(function() {
            $.publish('scroll');
            var scrollTop = $(window).scrollTop()
            $contentWrapper.css({
              '-webkit-transform': 'translate3d(-0px, ' + -(3 * scrollTop) + 'px, 0px)',
              '-webkit-transition': '.2s',
              '-moz-transform': 'translate3d(-0px, ' + -(3 * scrollTop) + 'px, 0px)',
              '-moz-transition': '.2s',
              'transition': '.2s'
            })

            var freqChartOffset = Diction.skrollr.relativeToAbsolute($('#figure-container')[0], 'bottom',
            'bottom')

            if (window.scrollY > freqChartOffset && !animated['freqChart']) {
              Diction.router.navigate('/freqchartRoute', { trigger: true });
              animated['freqChart'] = true;
            }

            var timelineOffset = Diction.skrollr.relativeToAbsolute($('#timeline-container #timeline')[0], 'bottom',
            'bottom')

            if (window.scrollY > timelineOffset && !animated['timeline']) {
              Diction.router.navigate('/timelineRoute', { trigger: true });
              animated['timeline'] = true;
            }

            var wordsPerYearOffset = Diction.skrollr.relativeToAbsolute($('#words-per-year-container .words-per-year-container:first')[0],
            'bottom', 'bottom')

            if (window.scrollY > wordsPerYearOffset && !animated['wordsPerYear']) {
              Diction.router.navigate('/wordsPerYearRoute', { trigger: true });
              animated['wordsPerYear'] = true;
            }

          }, 100);
        fn();

      });

      $('#search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var query = $(e.currentTarget).val()
          Diction.router.navigate('/freqchartRoute/' + query, { trigger: true });
        }

      });

      $('#words-per-year-search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var query = $(e.currentTarget).val()
          $wordsPerYear = $('#words-per-year');
          $wordsPerYear.prepend(Diction.Templates.wordsPerYear.render({ word: query }));
          $.get('/words_per_year', { query: query }).success(function(rows) {
            var wordsPerYear = new Diction.Figures.WordsPerYear({
              data: rows,
              svg: d3.select('.words-per-year-' + query),
              word: query
            });
            wordsPerYear.render();
          });
        }

      });

      Diction.router = new Diction.Routers.IndexRouter({
        docs: !{data},
        authors: !{authors},
      });
      Backbone.history.start();

      Diction.skrollr = skrollr.init();



    });
