extends layout

block content
  div(class="row")
    div(class="col-md-12 text-center")
      h1 UNITED NATIONS
  div(class="row")
    div(class="col-md-12 text-center")
      h3 High Commissioner for Refugees
  div(class="row")
    div(class="col-md-12")
      div(class="well")
        label(for="search")
          != 'Search a word:&nbsp;'
        input(type="text", id="search", placeholder="")

  div(id="figure")

block scripts
  script.
    $(document).ready(function() {
      _.templateSettings.variable = "context";

      $('#search').on('keyup', function(e) {
        if (e.keyCode == Diction.Constants.ENTER) {
          var query = $(e.currentTarget).val()
          Diction.router.navigate(query, { trigger: true });
        }

      });

      Diction.router = new Diction.Routers.IndexRouter({
        docs: !{data}
      });
      Backbone.history.start();



    });
