doctype html
html
  head
    title= title
    != nap.css('all')
    meta(charset="utf-8")
  body
    block intro
    div(class="container-fluid")
      block content

    != nap.js('all')

    block scripts
