doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/tipsy.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class="container-fluid-fluid")
      block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.tipsy.js')
    script(src='/javascripts/d3.js')
    script(src='/javascripts/underscore.js')
    script(src='/javascripts/backbone.js')
    script(src='/javascripts/ejs.js')
    script(src='/javascripts/diction.js')
    script(src='/javascripts/models/author.js')
    script(src='/javascripts/models/doc.js')
    script(src='/javascripts/collections/doc.js')
    script(src='/javascripts/routers/index.js')
    script(src='/javascripts/figures/freq_chart.js')
    script(src='/javascripts/figures/timeline.js')

    block scripts
