@charset "UTF-8";

@black: rgb(30, 30, 30);
@navy: #0B1822;
@gray: rgb(200,200,200);
@dark-gray: rgb(80,80,80);
@light-gray: rgb(240,240,240);
@selection: rgb(252, 239, 23);
@background-divide: rgb(85, 85, 85);
@border-divide: rgb(60, 60, 60);

// Author colors
@guterres: #a6cee3;
@lubbers: #1f78b4;
@ogata: #b2df8a;
@stoltenberg: #33a02c;
@hartling: #fb9a99;
@khan: #e31a1c;
@schnyder: #fdbf6f;
@lindt: #ff7f00;
@Goedhart: #cab2d6;
@hocke: #6a3d9a;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('Lato/Lato-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('Lato/Lato-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('Lato/Lato-Bold.ttf') format('truetype');
}

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: @black;
}

header {
  background-image: url('/images/hc.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.row {
}

a {
  color: @navy;
  cursor: pointer;
}

a:hover {
  color: @navy;
}

.author {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
}

.content-wrapper {
  position: relative;
  margin-top: -40px;
  background-color: white;
}

.module {
  text-align: center;
  min-height: 600px;
  margin-bottom: 20px;

  .module-header {
    text-align: left;
    background-color: @background-divide;
    border: 1px solid @border-divide;
    min-height: 200px;
    color: white;
    padding: 0px 60px;
    margin-bottom: 20px;
  }

  .module-body {
    position: relative;
  }
}

#words-per-year {
  text-align: left;
}

#author-popular-words {
  text-align: left;
}

#figure {
  margin-top: 100px;
}

.info-rect {
  stroke: @light-gray;
  fill: white;
}

.svg-label {
  font: 10px sans-serif;
  stroke: none;
  fill: @black;
}

.avg-line {
  stroke-dasharray: 5, 5;
  fill: black;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.current-word, .error-message {
  margin-left: 30px
}

.search-container {
  text-align: left;
  margin-bottom: 25px;
}

.words-per-year-container {
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 20px;

  .words-per-year-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }

}

text {
  pointer-events: none;
}

.transparent {
  fill: transparent;
}

.word-bar {
  pointer-events: none;
}

.card-header {
  margin-bottom: 10px;
  h1 {
    font-size: 18px;
    margin: 0;
  }
  h2 {
    font-size: 14px;
    margin: 0;
    margin-top: 3px;
  }

  h3 {
    font-size: 14px;
    font-weight: light;
    margin: 0;
    margin-top: 3px;
  }

}

.card-header:before {
  content: '';
  border-top: 2px black solid;
  display: block;
  width: 22px;
  margin-bottom: 12px;
}

.voronoi {
  fill: transparent;
  stroke: none;
}

::selection {
	background: @selection; /* Safari */
	}
::-moz-selection {
	background: @selection; /* Firefox */
}

.axis path,
.axis line {
  fill: none;
  stroke: rgb(240, 240, 240);
  shape-rendering: crispEdges;
}

.svg-words-per-year .word-line {
  fill: none;
  stroke: black;
}

.timeline-circle {
  opacity: .6;
  cursor: pointer;
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}

.timeline-circle.highlight {
  opacity: 1;
  stroke: @gray;
}

input {
  border: 1px solid rgb(200, 200, 200);
}

.text-center {
  text-align: center;
}

.axis text {
  font: 10px sans-serif;
  stroke: none;
  fill: @black;
}

.word-circle {
  stroke: none;
  fill: transparent;
}

line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.background-bar {
  fill: transparent;
}

.bar {

}

line.guterres {
  stroke: @guterres;
}
line.lubbers {
  stroke: @lubbers;
}
line.ogata {
  stroke: @ogata;
}
line.stoltenberg {
  stroke: @stoltenberg;
}
line.hartling {
  stroke: @hartling;
}
line.khan {
  stroke: @khan;
}
line.schnyder {
  stroke: @schnyder;
}
line.lindt {
  stroke: @lindt;
}
line.Goedhart {
  stroke: @Goedhart;
}
line.hocke {
  stroke: @hocke;
}


.guterres {
  fill: @guterres;
  color: @guterres;
}
.lubbers {
  fill: @lubbers;
  color: @lubbers;
}
.ogata {
  fill: @ogata;
  color: @ogata;
}
.stoltenberg {
  fill: @stoltenberg;
  color: @stoltenberg;
}
.hartling {
  fill: @hartling;
  color: @hartling;
}
.khan {
  fill: @khan;
  color: @khan;
}
.schnyder {
  fill: @schnyder;
  color: @schnyder;
}
.lindt {
  fill: @lindt;
  color: @lindt;
}
.Goedhart {
  fill: @Goedhart;
  color: @Goedhart;
}

.hocke {
  fill: @hocke;
  color: @hocke;
}

.voronoi {
  fill: transparent;
  stroke: none;
}

.legend-container {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: 0;
  opacity: 1;
  -moz-transition:all .5s;
  -webkit-transition:all .5s;
  -o-transition:all .5s;
  transition:all .5s;
}

.dot-navigation {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -60px;
  height: 140px;
  z-index: 100;

  .dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 1px solid @black;
    background-color: @light-gray;
    margin: 14px auto;
    cursor: pointer;
  }

  .dot:hover {
    background-color: @gray;
  }

  .dot.selected {
    background-color: @black;
  }
}

