body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

line {
  stroke: #aaa;
  shape-rendering: crispEdges;
}

.background-bar {
  fill: transparent;
}

.bar {
  pointer-events: none;
}

@guterres: #a6cee3;
@lubbers: #1f78b4;
@ogata: #b2df8a;
@stoltenberg: #33a02c;
@hartling: #fb9a99;
@khan: #e31a1c;
@schnyder: #fdbf6f;
@lindt: #ff7f00;
@Goedhart: #cab2d6;
@hocke: #6a3d9a;

.guterres {
  fill: @guterres;
}
.lubbers {
  fill: @lubbers;
}
.ogata {
  fill: @ogata;
}
.stoltenberg {
  fill: @stoltenberg;
}
.hartling {
  fill: @hartling;
}
.khan {
  fill: @khan;
}
.schnyder {
  fill: @schnyder;
}
.lindt {
  fill: @lindt;
}
.Goedhart {
  fill: @Goedhart;
}
